@{
    ViewData["Title"] = "Home Page";
}

@{
    List<Docker.Models.Task> tasks = (List<Docker.Models.Task>)ViewData["tasks"];
}
@{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Container ID</th>
                    <th>Location</th>
                    <th>Destination</th>
                    <th>Date Created</th>
                    <th>Date Modified</th>
                    <th>Required Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Docker.Models.Task task in tasks)
                {
                    <tr>
                        <td>@task.Payload.ID</td>
                        <td>@task.Payload.ContainerLocation.Name - @task.Payload.X : @task.Payload.Y : @task.Payload.Z</td>
                        <td>@task.Destination.Name</td>
                        <td>@task.TimeCreated.ToString()</td>
                        <td>@task.TimeModified.ToString()</td>
                        <td>@task.RequiredTime.TotalMinutes minutes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}